        body {
            font-family: Open Sans, Arial, sans-serif;
        }

        /* Slidedisplay */

        .slider.slider-horizontal {
            width: 100%;
        }

        .slider.slider-horizontal .slider-track {
            height: 3px;
            margin-top: -2px;
        }

        /* Slidehandle */

        .slider.slider-horizontal .slider-tick,
        .slider.slider-horizontal .slider-handle {
            margin-left: -2px;
        }

        .slider-handle {
            width: 5px;
            background: #e5b600;
        }

        .slider-selection {
            background: #e5b600;
        }

        /* MISC */

        p {
            -webkit-font-smoothing: antialiased;
        }

        /* Radio button */

        .control {
            position: relative;
            padding-left: 25px;
            padding-right: 10px;
            margin-bottom: 5px;
            padding-top: 0px;
            cursor: pointer;
            font-size: 16px;
        }

        .control input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        .control_indicator {
            position: absolute;
            top: 2px;
            left: 0;
            height: 20px;
            width: 20px;
            background: #e6e6e6;
            border: 0px solid #000000;
            border-radius: undefinedpx;
        }

        .control:hover input ~ .control_indicator,
        .control input:focus ~ .control_indicator {
            background: #cccccc;
        }

        .control input:checked ~ .control_indicator {
            background: #e5b600;
        }

        .control_indicator:after {
            box-sizing: unset;
            content: '';
            position: absolute;
            display: none;
        }

        .control input:checked ~ .control_indicator:after {
            display: block;
        }

        .control-radio .control_indicator {
            border-radius: 50%;
        }

        .control-radio .control_indicator:after {
            left: 7px;
            top: 7px;
            height: 6px;
            width: 6px;
            border-radius: 50%;
            background: #ffffff;
            transition: background 250ms;
        }

        /* Custom Bootstrap - Card design */

        .card-title {
            font-size: 16px;
        }

        .card-text {
            font-size: 12px;
        }
